.mainContainer {
    width: 100%;
    padding-right: 30px;
    padding-left: 30px;
}

@media (min-width: 480px) {
    .mainContainer {
        padding-right: 70px;
        padding-left: 70px;
    }
}

@media (min-width: 768px) {
    .mainContainer {
        padding-right: 140px;
        padding-left: 140px;
    }
}

@media (min-width: 1280px) {
    .mainContainer {
        padding-right: 250px;
        padding-left: 250px;
    }
}
