.languageOptionBtn {
    display: flex;
    justify-content: center;
    width: fit-content;
    height: fit-content;
}

.languageOption {
    display: flex;
    justify-content: space-between;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-box-align: center;
    line-height: 1.6;
    color: var(--lang-option-color);
}