:root {
    --color-primary-font: #071840;
    --color-main-blue: #37A9FD;
    --color-auth-form-error: #b63838;
    --color-lang-option: #476788;
    --color-primary-bg: #f9f9f9;
    --color-auth-form-border: #8393C3;
    --color-auth-main-bg: #8089ff;
    --color-focused-bg: #e7a449;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 15px;
}

body {
    background-color: var(--color-auth-main-bg);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Open Sans', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--color-primary-font);
}

#root {
    height: 100%;
    min-height: 100vh;
}

::selection {
    color: white;
    background: var(--color-lang-option);
}

button,
input,
textarea {
    border: none;
    background: none;
    font: inherit;
    color: inherit;
    outline: none;
}

button {
    cursor: pointer;
}

button:disabled {
    pointer-events: none;
}

button:focus,
input:focus,
textarea:focus {
    outline: none;
}

a {
    text-decoration: none;
    color: inherit;
}

ul, ol {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@media (min-width: 480px) {
    html {
        font-size: 15px;
    }
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

@media (min-width: 1280px) {
    html {
        font-size: 18px;
    }
}
